<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="bg-gray-800">
    <div class="grid grid-cols-6">
      <div class="col-span-2 col-start-3">
        <%- include("header.ejs") %> <% if(messages.success){ %>
        <div class="alert alert-success" role="alert">
          <%= messages.success %>
        </div>
        <% } %>

        <div class="flex-col centerClass">
          <p class="py-2 text-xl">Welcome To Appointment Manager</p>
          <p class="py-2 mt-1">
            <span class="text-xl"> New User ?</span>
            <a href="/signup" class="ml-2 p-2 bg-pink-600 text-white rounded"
              >Sign Up now</a
            >
          </p>
          <p class="py-2 mt-3">
            <span class="text-xl"> Already have an account ?</span>
            <a href="/login" class="ml-2 p-2 bg-pink-600 text-white rounded"
              >Sign in here</a
            >
          </p>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
